/* Space out content a bit */
body {
  font-family: "Open Sans" !important;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('/images/circle_bg.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom left;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: black !important;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-size: 2.4em;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
}

.footer a {
  background-color: rgb(255,244,80);
  color: black;
  padding: 10px 16px;
  letter-spacing: 0.08em;
  font-style: italic;
}

.footer p {
  color: black;
  font-style: italic;
  padding-bottom: 6px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  color: rgb(177, 28, 84) !important;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  color: rgb(177, 28, 84) !important;
  border-color: rgb(177, 28, 84) !important;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

hr {
  border-width: 2px;
  border-color: black;
}

.jumbotron {
    background-color: transparent !important;
    border: none;
}
.jumbotron .form-control {
  border-color: rgb(177, 28, 84) !important;
}