<div class="jumbotron">
  <h3>Novo jogador</h3>
  <form role="form" ng-submit="registerPlayer()">
  <div class="form-group">
    <label for="name">Nome</label>
    <input type="text" class="form-control" id="name" placeholder="Nome..." ng-model="name" ng-init="" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="Email..." ng-model="email" ng-init="" required>
  </div>
  <div class="form-group">
    <label for="company">Empresa / Instituição</label>
    <input type="text" class="form-control" id="company" placeholder="Empresa..." ng-model="company" ng-init="" required>
  </div>
  <div class="form-group">
    <label for="job">Cargo / Função</label>
    <input type="text" class="form-control" id="job" placeholder="Cargo..." ng-model="job" ng-init="" required>
  </div>
  <div class="form-group">
    <label for="city">Cidade</label>
    <input type="text" class="form-control" id="city" placeholder="Cidade..." ng-model="city" ng-init="" required>
  </div>
  <p ng-show="message">{{message}}</p>
  <button type="submit" class="btn btn-default">Adicionar</button>
</form>
</div>