<div class="jumbotron">
  <h3>Confirmação de Batalha</h3>
  <p>{{looser.name}} - {{looser.id}}</p>
  <p>Entre com o PIN do perdedor</p>
  <form role="form" ng-submit="endBattle()">
  <div class="form-group">
    <label class="pull-left" for="inputPin">PIN</label>
    <input type="password" class="form-control" id="inputPin" placeholder="PIN..." ng-model="inputPin" ng-init="" required>
  </div>
  <button type="submit" class="btn btn-default">Confirmar</button>
  <p ng-show="message">{{message}}</p>
</form>
</div>