<div class="jumbotron">
  <div ng-show="!rank">
	<h3>Consulte sua classificação</h3>
  <form role="form" ng-submit="viewRank()">
	  <div class="form-group">
	    <input type="text" class="form-control" id="inputPlayerID" placeholder="Insira seu ID..." ng-model="inputPlayerID" ng-init="" required>
	  </div>
	  <p ng-show="message">{{message}}</p>
	  <button type="submit" class="btn btn-default">Consultar</button>
	</form>
  </div>
  <div ng-show="rank">
  	<h3>{{playerId}}</h3>
    <p>Posição no ranking: {{rank.placing}}</p>
  </div>
  
</div>